<div class="container">

  <!-- **************************************************************************************************** -->
  <!-- ############################### EROOR SERVER  ######################## -->
  <!-- **************************************************************************************************** -->
  <ng-template #errors>
    <h2 id="Messageerror" class="text-danger">{{errorMessage}}</h2>
    <!--<img id="imageerror" src="assets/error500.svg">-->
  </ng-template>

  <!-- **************************************************************************************************** -->
  <!-- ###############################  Search And Button Add Groups   ######################## -->
  <!-- **************************************************************************************************** -->

  <div class="row mb-5">

    <h3 id="titreListeGroup"> Liste des groupes</h3>

    <div class=" col-md-10 col-sm-12" >

      <form >
        <div class="input-group">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button id="logoSearch" class="btn bi-search"> </button>
        </div>
      </form>
    </div>

    <div class="col-md-2 col-sm-6" >
      <button id="buttonAddgroup" type="button" class="btn btn-light" (click)="openAddGroup(content)"> <img src="assets/person-plus.svg"> Créer un groupe </button>
    </div>

    <div id="listeVide" *ngIf="!group.length; else errors ">
      <img src="assets/emptyList.svg">
      <p>La liste des groupes est vide</p>
    </div>
  </div>

  <!-- **************************************************************************************************** -->
  <!-- ###############################  ALL groups   ######################## -->
  <!-- **************************************************************************************************** -->

  <div *ngIf="group.length" class="card container mt-4">
    <div class="card-body">
      <table class="table table-borderless">
        <thead >
        <tr>
          <th scope="col">Nom groupe</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let g of group">
          <td>{{g.GroupName}}</td>
          <td><button id="voirLesContactsBtn" class="btn btn-outline-dark" (click)="openDetailGroup(content_detailGroup,g)" >Contacts groupe</button></td>
          <td><button class="btn" (click)="openupdateGroup(contentUpdate,g)" ><i class="bi bi-pen"></i></button></td>
          <td><button class="btn"(click)="handelDeleteGroup(g)" ><i class="bi bi-trash-fill"></i></button></td>

        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>

<!-- **************************************************************************************************** -->
<!-- ###############################   Add Group    ######################## -->
<!-- **************************************************************************************************** -->
<ng-template #content let-modal>

  <div>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title"> Ajouter un groupe </h3>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <form [formGroup]="groupForm" (ngSubmit)="handleAddGroup()">

      <div class="modal-body">
        <label for="groupName">Nom du groupe</label>

        <input type="text" id="groupName" formControlName="groupName" class="form-control-plaintext" >
        <small *ngIf="groupForm.controls['groupName'].errors && groupForm.controls['groupName'].touched" class="text-danger">
          {{getErrorMessage('groupName', groupForm.controls['groupName'].errors )}}
        </small>
      </div>

      <button id="confirmgroupButtom" [disabled]="groupForm.invalid"  type="submit" class="btn "> Enregistrer </button>

    </form>
  </div>

</ng-template>

<!-- **************************************************************************************************** -->
<!-- ###############################   Detail contacts Group   ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #content_detailGroup let-modal>

  <div>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title-detailGroupContact"> Fiche groupe </h3>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <div class="card container mt-1">
    <div class="card-header">
      Mes contacts du groupe
    </div>
    <div class="card-body" *ngIf="listeConatct.length">
      <table class="table table-borderless">
      <tbody>
      <tr *ngFor="let contact of listeConatct">
        <td><i class="bi bi-person-lines-fill"></i></td>
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
      </tr>
      </tbody>
    </table>

    </div>

      <div class="card-body "  *ngIf="!listeConatct.length">
        <div> <p>Aucun contact</p>  </div>
      </div>

    </div>
  </div>

</ng-template>


<!-- **************************************************************************************************** -->
<!-- ###############################   Update Group   ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #contentUpdate let-modal>

  <div>
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title-update"> Mise à jour  groupe </h3>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <form [formGroup]="groupUpdateForm" (ngSubmit)="handleUpdateGroup()">

      <div class="modal-body">
        <label for="updateGroupInput"> Nom groupe </label>

        <input type="text" id="updateGroupInput" placeholder="Nom" formControlName="groupUpdateForm"  class="form-control-plaintext" >
        <small *ngIf="groupUpdateForm.controls['groupUpdateForm'].errors && groupUpdateForm.controls['groupUpdateForm'].touched" class="text-danger">
          {{getErrorMessage('groupUpdateForm', groupUpdateForm.controls['groupUpdateForm'].errors )}}
        </small>
      </div>

      <button id="confirmgroupButtom2" [disabled]="groupUpdateForm.invalid"  type="submit" class="btn "> Enregistrer </button>

    </form>
  </div>

</ng-template>
