button[type="submit"]{
  background-color: #926aef;
  color: white;
  margin: 5%;
  margin-left: 70%;
}

button[type="submit"]:hover{
  background-color: #661dff;
}


#buttonAddgroup{
  color: #4c4e4e;
  font-size: x-small;
  letter-spacing: .0178571429em;
  border: 0.20em solid rgba(255, 255, 255, 0);
  width: 200px;
  height: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  background: white;
}

#buttonAddgroup:hover {
  color: black;
  background: #dbcbf8;
}

#buttonAddgroup img {
  margin-right: 5%;
  margin-bottom: 3%;
  width: 10%;

}



input{
  border: none;
  border-bottom: 2px solid #4f3871;
}

#listeVide div img{
  width: 20%;
  height: 20%;
  margin-left: 40%;
  margin-top: 5%;
}

#listeVide div p {
  margin-left: 36%;
  margin-top: 2%;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: larger;
}

td{
  text-transform: capitalize;
}

#titreListeGroup{
  margin-top: 5%;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: x-large;
  color: #4c4e4e;
}
