<div class="container">

  <!-- **************************************************************************************************** -->
  <!-- ############################### EROOR SERVER  ######################## -->
  <!-- **************************************************************************************************** -->
  <ng-template #errors>
    <h2 id="Messageerror" class="text-danger">{{errorMessage}}</h2>
    <!--<img id="imageerror" src="assets/error500.svg">-->
  </ng-template>


  <div *ngIf="contact; else errors">

    <!-- **************************************************************************************************** -->
    <!-- ############################### Search & Button create  ######################## -->
    <!-- **************************************************************************************************** -->

    <div class="row mb-5">

        <h3 id="titreListeContact"> Liste des contacts</h3>

      <div class=" col-md-10 col-sm-12" >

        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchContact()" >
          <div class="input-group">
            <input class="form-control mr-sm-2" formControlName="keyword" type="search" placeholder="Search" aria-label="Search">
            <button id="logoSearch" class="btn bi-search"> </button>
          </div>
        </form>
      </div>

      <div class="col-md-2 col-sm-6" >
        <button id="buttonAddContact" type="button" class="btn btn-light" (click)="openlg(content)" > <img src="assets/person-plus.svg" class="svg-image"> Créer un contact </button>
      </div>


    </div>

    <!-- **************************************************************************************************** -->
    <!-- ############################### All Contacts  ######################## -->
    <!-- **************************************************************************************************** -->

    <div class="card-body">
      <div class="row">

        <div id="listeVide" *ngIf="!contact.length">
          <img src="assets/emptyList.svg">
           <p>La liste des contacts est vide</p>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3"  *ngFor="let co of contact">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="assets/profil.svg">
            </div>
            <div class="team-content">
              <h3 id="Namecontact" class="name"> {{co.firstName}} {{co.lastName}}</h3>
            </div>

            <ul class="social">
              <button class="btn" (click)="openDetails(contentDetail,co)"> <i class="bi bi-eye-fill"></i></button>
              <button class="btn" (click)="openPhone(contentMobil,co)"> <i class="bi bi-telephone-fill"></i></button>
              <button class="btn" (click)="openUpdate(contentUpdate,co)"> <i class="bi bi-pen"></i></button>
              <button class="btn" (click)="openAddGroup(contentAddgroup,co)"> <i class="bi bi-person-rolodex"></i> </button>
              <button class="btn" (click)="handelDeleteContact(co)" > <i class="bi bi-trash-fill"></i> </button>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

<!-- **************************************************************************************************** -->
<!-- ############################### ADD contact  ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #content let-modal>

<div>
  <div class="modal-header">
    <p class="modal-title" id="modal-basic-title"> Ajouter un contact </p>
    <button  class="btn" (click)="modal.dismiss('Cross click')">
      <i class="bi bi-x-square"></i>
    </button>
  </div>

  <form [formGroup]="ContactFormGroup" (ngSubmit)="handleAddContact()">

    <div class="modal-body">
        <label for="firstname">Prénom</label>

          <input type="text" id="firstname" formControlName="firstName" class="form-control-plaintext" >
          <small *ngIf="ContactFormGroup.controls['firstName'].errors && ContactFormGroup.controls['firstName'].touched" class="text-danger">
            {{getErrorMessage('Prénom', ContactFormGroup.controls['firstName'].errors )}}
          </small>
    </div>

    <div class="modal-body">
        <label for="lastname">Nom</label>
        <input id="lastname" formControlName="lastName" class="form-control" >
      <small *ngIf="ContactFormGroup.controls['lastName'].errors && ContactFormGroup.controls['lastName'].touched" class="text-danger">
        {{getErrorMessage('Nom', ContactFormGroup.controls['lastName'].errors)}}
      </small>
    </div>

    <div class="modal-body">
        <label for="email">Email</label>
        <input id="email" formControlName="email" class="form-control text-lowercase" >

      <small *ngIf="ContactFormGroup.controls['email'].errors && ContactFormGroup.controls['email'].touched" class="text-danger">
        {{getErrorMessage('Email', ContactFormGroup.controls['email'].errors)}}
      </small>
    </div>


    <div class="modal-body">
        <label for="typeMobile">Type mobile</label>

      <div class="input-group mb-3">
        <select class=" form-select" formControlName="phoneKind" id="typeMobile">
          <option value="Mobile">Mobile</option>
          <option value="Fixe">Fixe</option>
        </select>
      </div>

      <small *ngIf="ContactFormGroup.controls['phoneKind'].errors && ContactFormGroup.controls['phoneKind'].touched" class="text-danger">
        {{getErrorMessage('Type mobile', ContactFormGroup.controls['phoneKind'].errors)}}
      </small>
    </div>

    <div class="modal-body">
        <label for="mobile">Mobile</label>
          <input id="mobile" formControlName="phoneNumber" class="form-control" pattern="[0-9]+">

      <small *ngIf="ContactFormGroup.controls['phoneNumber'].errors && ContactFormGroup.controls['phoneNumber'].touched" class="text-danger">
        {{getErrorMessage('Mobile', ContactFormGroup.controls['phoneNumber'].errors)}}
      </small>

    </div>

      <button id="addAdresseButtom" type="button" class="btn btn-outline-dark" (click)="opensm(adresse)">Ajouter une adresse </button>

      <button id="confirmContactButtom" [disabled]="ContactFormGroup.invalid"  type="submit" class="btn"> Enregistrer </button>

  </form>
</div>

</ng-template>


<!-- **************************************************************************************************** -->
<!-- ############################### Adresse  ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #adresse let-modal>

  <div>
    <div class="modal-header">
      <p class="modal-title" id="modal_adresse"> Ajouter une adresse </p>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <form [formGroup]="AdresseFormGroup">

      <div class="modal-body">
        <label for="street">Rue </label>
        <input id="street" class="form-control" formControlName="street">

        <small *ngIf="AdresseFormGroup.controls['street'].errors && AdresseFormGroup.controls['street'].touched" class="text-danger">
          {{getErrorMessage('Rue', AdresseFormGroup.controls['street'].errors)}}
        </small>

        </div>


        <div class="modal-body">

          <label for="city">Ville</label>
          <input id="city" class="form-control" formControlName="city">

          <small *ngIf="AdresseFormGroup.controls['city'].errors && AdresseFormGroup.controls['city'].touched" class="text-danger">
            {{getErrorMessage('Ville', AdresseFormGroup.controls['city'].errors)}}
          </small>

        </div>

        <div class="modal-body">

          <label for="zip">Code postal</label>
          <input id="zip" class="form-control" formControlName="zip" pattern="[0-9]+" >

          <small *ngIf="AdresseFormGroup.controls['zip'].errors && AdresseFormGroup.controls['zip'].touched" class="text-danger">
            {{getErrorMessage('Code postal', AdresseFormGroup.controls['zip'].errors)}}
          </small>

        </div>

        <div class="modal-body">
          <label for="country">Pays</label>
          <input id="country" class="form-control" formControlName="country" >
          <small *ngIf="AdresseFormGroup.controls['country'].errors && AdresseFormGroup.controls['country'].touched" class="text-danger">
            {{getErrorMessage('Pays', AdresseFormGroup.controls['country'].errors)}}
          </small>
        </div>

        <div class="modal-footer">
          <button [disabled]="AdresseFormGroup.invalid"  type="submit" class="btn" (click)="modal.dismiss('Cross click')"> Enrengistrer </button>
        </div>

    </form>
  </div>
</ng-template>

<!-- **************************************************************************************************** -->
<!-- ############################### Update Contact  ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #contentUpdate let-modal>

  <div>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-updateContact"> Mettre à jour le contact </p>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <form [formGroup]="UpdateFormContact" (ngSubmit)="handleUpdateContact()">

      <div class="modal-body">
        <label for="firstName">Prénom</label>

        <input type="text" id="Ufirstname" formControlName="firstName" class="form-control" >
        <small *ngIf="UpdateFormContact.controls['firstName'].errors && UpdateFormContact.controls['firstName'].touched" class="text-danger">
          {{getErrorMessage('Prénom', UpdateFormContact.controls['firstName'].errors )}}
        </small>
      </div>

      <div class="modal-body">
        <label for="lastname">Nom</label>
        <input id="Ulastname" formControlName="lastName" class="form-control" >
        <small *ngIf="UpdateFormContact.controls['lastName'].errors && UpdateFormContact.controls['lastName'].touched" class="text-danger">
          {{getErrorMessage('Nom', UpdateFormContact.controls['lastName'].errors)}}
        </small>
      </div>

      <div class="modal-body">
        <label for="email">Email</label>
        <input id="Uemail" formControlName="email" class="form-control" >

        <small *ngIf="UpdateFormContact.controls['email'].errors && UpdateFormContact.controls['email'].touched" class="text-danger">
          {{getErrorMessage('Email', UpdateFormContact.controls['email'].errors)}}
        </small>
      </div>


      <div class="modal-body">
        <label for="typeMobile">Type mobile</label>

        <div class="input-group mb-3">
          <select class=" form-select" formControlName="phoneKind" id="UtypeMobile">
            <option value="Mobile">Mobile</option>
            <option value="Fixe">Fixe</option>
          </select>
        </div>

        <small *ngIf="UpdateFormContact.controls['phoneKind'].errors && UpdateFormContact.controls['phoneKind'].touched" class="text-danger">
          {{getErrorMessage('Type mobile', UpdateFormContact.controls['phoneKind'].errors)}}
        </small>
      </div>

      <div class="modal-body">
        <label for="mobile">Mobile</label>
        <input id="Umobile" formControlName="phoneNumber" class="form-control" pattern="[0-9]+">

        <small *ngIf="UpdateFormContact.controls['phoneNumber'].errors && UpdateFormContact.controls['phoneNumber'].touched" class="text-danger">
          {{getErrorMessage('Mobile', UpdateFormContact.controls['phoneNumber'].errors)}}
        </small>
      </div>

      <div class="modal-body">
        <label for="street">Rue </label>
        <input id="Ustreet" class="form-control" formControlName="street">

        <small *ngIf="UpdateFormContact.controls['street'].errors && UpdateFormContact.controls['street'].touched" class="text-danger">
          {{getErrorMessage('Rue', UpdateFormContact.controls['street'].errors)}}
        </small>
      </div>

      <div class="row m-1">

        <div class="modal-body col-md-8 ">

          <label for="city">Ville</label>
          <input id="Ucity" class="form-control" formControlName="city">

          <small *ngIf="UpdateFormContact.controls['city'].errors && UpdateFormContact.controls['city'].touched" class="text-danger">
            {{getErrorMessage('Ville', UpdateFormContact.controls['city'].errors)}}
          </small>

        </div>

        <div class="modal-body col-md-4  ">

          <label for="zip">Code postal</label>
          <input id="Uzip" class="form-control" formControlName="zip" pattern="[0-9]+" >

          <small *ngIf="UpdateFormContact.controls['zip'].errors && UpdateFormContact.controls['zip'].touched" class="text-danger">
            {{getErrorMessage('Code postal', UpdateFormContact.controls['zip'].errors)}}
          </small>

        </div>

      </div>

      <div class="modal-body">
        <label for="country">Pays</label>
        <input id="Ucountry" class="form-control" formControlName="country" >
        <small *ngIf="UpdateFormContact.controls['country'].errors && UpdateFormContact.controls['country'].touched" class="text-danger">
          {{getErrorMessage('Pays', UpdateFormContact.controls['country'].errors)}}
        </small>
      </div>

      <div class="modal-footer">
      <button  [disabled]="UpdateFormContact.invalid"  type="submit" class="btn"> Sauvegarder </button>
      </div>
    </form>
  </div>

</ng-template>

<!-- **************************************************************************************************** -->
<!-- ############################### Contact Detail  ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #contentDetail let-modal>

  <div>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title-detail"> Fiche contact </p>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <form>

      <div class="modal-body">
        <label for="firstname">Prénom</label>
        <input type="text" id="Dfirstname" class="form-control" readonly >
      </div>

      <div class="modal-body">
        <label for="lastname">Nom</label>
        <input id="Dlastname"  class="form-control" readonly >
      </div>

      <div class="modal-body">
        <label for="email">Email</label>
        <input id="Demail"  class="form-control text-lowercase" readonly>
      </div>

      <div class="modal-body">
        <label for="typeMobile">Type mobile</label>
        <input id="DtypeMobile"   class="form-control" readonly>
      </div>

      <div class="modal-body">
        <label for="mobile">Mobile</label>
        <input id="Dmobile" class="form-control" readonly >
      </div>


      <div class="modal-body">
        <label for="Adresse">Adresse </label>
        <input id="Adresse" class="form-control" readonly >
      </div>


      <div class="modal-footer">
        <button  class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')" > Fermer </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- **************************************************************************************************** -->
<!-- ############################### List Mobile  ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #contentMobil let-modal>

  <div>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title-mobile"> Liste des numéros </p>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>

    </div>

    <form>
      <div *ngFor="let phone of detailContact.phoneNumbers">
        <div class="modal-header">

          <table class="table table-borderless">
            <tbody>
            <tr>
              <td><i class="bi bi-telephone-fill"></i></td>
              <td class="text-capitalize">{{phone.phoneKind}}</td>
              <td>{{phone.phoneNumber}}</td>
              <button (click)="openUpdatePhone(contentUpdatePhone,phone)" class="btn"> <i class="bi bi-pen"></i> </button>
              <button (click)="handelDeletePhoneNumber(phone)" class="btn"> <i class="bi bi-trash-fill"></i> </button>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

        <button  id="addPhoneNumber" class="btn btn-outline-dark"(click)="openAddPhone(contentAddphone)" > <i class="bi bi-telephone-plus"></i></button>
        <button  class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')" > Fermer </button>

    </form>
  </div>
</ng-template>

<!-- **************************************************************************************************** -->
<!-- ############################### Add Mobile  ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #contentAddphone let-modal>

  <div>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title-addPhone"> Ajouter un numéro </p>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <form [formGroup]="AddPhoneFormGroup" (ngSubmit)="handelAddPhoneNumber()">
      <div class="modal-body">
        <label for="typeMobile">Type mobile</label>
        <div class="input-group mb-3">
          <select class=" form-select" formControlName="phoneKind" id="typeMobile2">
            <option value="Mobile">Mobile</option>
            <option value="Fixe">Fixe</option>
          </select>
        </div>

        <small *ngIf="AddPhoneFormGroup.controls['phoneKind'].errors && AddPhoneFormGroup.controls['phoneKind'].touched" class="text-danger">
          {{getErrorMessage('Type mobile', AddPhoneFormGroup.controls['phoneKind'].errors)}}
        </small>
      </div>


      <div class="modal-body">
        <label for="mobile">Mobile</label>
        <input id="mobile2" formControlName="phoneNumber" class="form-control" pattern="[0-9]+">

        <small *ngIf="AddPhoneFormGroup.controls['phoneNumber'].errors && AddPhoneFormGroup.controls['phoneNumber'].touched" class="text-danger">
          {{getErrorMessage('Mobile', AddPhoneFormGroup.controls['phoneNumber'].errors)}}
        </small>
      </div>
      <div class="modal-footer">
        <button [disabled]="AddPhoneFormGroup.invalid"  type="submit" class="btn"> Enregistrer </button>
      </div>
    </form>
  </div>

</ng-template>

<!-- **************************************************************************************************** -->
<!-- ############################### Update Mobile  ######################## -->
<!-- **************************************************************************************************** -->

<ng-template #contentUpdatePhone let-modal>

  <div>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title-UpdateMobile"> Modifier un numéro </p>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

    <form [formGroup]="UpdatePhoneFormGroup" (ngSubmit)="handelUpdatePhoneNumber()">
      <div class="modal-body">
        <label for="typeMobile">Type mobile</label>
        <div class="input-group mb-3">
          <select class=" form-select" formControlName="phoneKind" id="typeMobile3">
            <option value="Mobile">Mobile</option>
            <option value="Fixe">Fixe</option>
          </select>
        </div>

        <small *ngIf="UpdatePhoneFormGroup.controls['phoneKind'].errors && UpdatePhoneFormGroup.controls['phoneKind'].touched" class="text-danger">
          {{getErrorMessage('Type mobile', UpdatePhoneFormGroup.controls['phoneKind'].errors)}}
        </small>
      </div>


      <div class="modal-body">
        <label for="mobile">Mobile</label>
        <input id="mobile3" formControlName="phoneNumber" class="form-control" pattern="[0-9]+">

        <small *ngIf="UpdatePhoneFormGroup.controls['phoneNumber'].errors && UpdatePhoneFormGroup.controls['phoneNumber'].touched" class="text-danger">
          {{getErrorMessage('Mobile', UpdatePhoneFormGroup.controls['phoneNumber'].errors)}}
        </small>
      </div>
      <div class="modal-footer">
        <button [disabled]="UpdatePhoneFormGroup.invalid"  type="submit" class="btn"> Enregistrer </button>
      </div>
    </form>
  </div>

</ng-template>

<!-- **************************************************************************************************** -->
<!-- ############################### Add group  ######################## -->
<!-- **************************************************************************************************** -->
<ng-template #contentAddgroup let-modal>

  <div>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title-addPGroup"> Ajouter au groupe </p>
      <button  class="btn" (click)="modal.dismiss('Cross click')">
        <i class="bi bi-x-square"></i>
      </button>
    </div>

      <form [formGroup]="AddGroupFormGroup" (ngSubmit)="handelAddGroup()">
        <div class="modal-body">
          <label for="idGroup">Nom du groupe</label>
          <div class="input-group mb-3">
            <select class=" form-select" formControlName="idGroup" id="idGroup">
              <option  *ngFor="let group of ListGroup" value="{{group.id}}">{{group.GroupName}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="AddGroupFormGroup.invalid"  type="submit" class="btn"> Ajouter </button>
        </div>
      </form>
  </div>

</ng-template>
