#logo_reseau ul a{
  margin:3px;

  text-align: center;
  display: inline-block;
}

#logo_reseau {
  margin-top: 2%;
}


footer {

  background: rgb(103,85,177);
  background: linear-gradient(90deg, rgba(103,85,177,1) 10%, rgba(176,167,218,1) 42%);
  position: absolute;
  width: 100%;
  bottom:0;

}


#logoContactBook{
  background-color: #661dff;
  margin-top: 20%;
}

img {
  width: 30%;
  height: auto;
  margin-left: 30%;
  margin-top: 1%;
}

